body{color: #253237;}
.header{
  background-color: #5C6B73;
  padding: 10px 15px;
}
.header, .header a{color: #FFF;}

a{color: #1985A1; text-decoration: none;}
a:hover{text-decoration: underline;}
a:visted{color: #1985A1}
