body{background-color: #FFF;}
.header{
  background-color: #EEE;
  padding: 10px 15px;
  font-size: 0.8em;
}
.header, .header a{color: #777;}
.subheader{
  background-color: #FAFAFA;
  padding: 20px 15px;
  margin-bottom: 20px;
  font-size: 2em;
  color: #555;
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
}

a{color: #428bca; text-decoration: none;}
a:hover{text-decoration: underline;}
a:visted{color: #428bca}

.description{font-size: 1.5; color: #777; margin-bottom: 20px;}

.table th{background-color: #F5F5F5;}
.table {border: 1px solid #CCC;}

.footer{text-align: center; margin-top: 10px; border-top: 1px solid #EEE; padding-top: 10px;}

/** table of contents **/
.group {
    background: yellow;
    width: 200px;
    height: 500px;
}
.group .subgroup {
    background: orange;
    width: 150px;
    height: 200px;
}
.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 14px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    color: #428bca;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #428bca;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;
}
