<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{static}}/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{static}}/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="{{static}}/bootstrap/css/bootstrap-social.css" />
    <script src="{{static}}/jquery/jquery.js"></script>
    <link rel="stylesheet" href="{{static}}/datatables/css/jquery.dataTables.css" />
    <script src="{{static}}/datatables/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="{{static}}/style.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
    <div class="header">
      <div class="container" style="font-size: 1.3em;">
        <a href="{{home}}">Home</a>
        <!-- bread crumbs -->
        {% if dataFolder %}
          > {{dataFolder.name}}
        {% elif dataset %}
          > <a href="../{{dataset.dataFolder.name}}/index.html">{{dataset.dataFolder.name}}</a>
          > {{dataset.name}}
        {% endif %}
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
</body>
</html>
