{% extends "base.html" %}
{% block title %}{{dataFolder.name}}{% endblock %}
{% block content %}
  {% if dataFolder.title %}
  <h1>{{dataFolder.title}}</h1>
  <h2>Stored in {{dataFolder.name}}</h2>
  {% else %}
  <h1>{{dataFolder.name}}</h1>
  {% endif %}

  {% if dataFolder.description %}
  <div>{{dataFolder.description}}</div>
  {% endif %}
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th>Dataset</th>
          <th>Rows</th>
          <th>Columns</th>
        </tr>
        {% for dataset in dataFolder.datasets %}
        <tr>
          <td>
            <a href="{{dataset.getHtmlName()}}">
              {% if dataset.title %}
              {{dataset.title}}
              {% else %}
              {{dataset.name}}
              {% endif %}
            </a>
          </td>
          <td>{{dataset.numberOfRows}}</td>
          <td>{{dataset.numberOfColumns}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
