{% extends "base.html" %}
{% block title %}{{dataFolder.name}}{% endblock %}
{% block content %}
  <h1>{{dataFolder.name}}</h1>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th>Dataset</th>
          <th>Rows</th>
          <th>Columns</th>
        </tr>
        {% for dataset in dataFolder.datasets %}
        <tr>
          <td>
            <a href="{{dataset.getHtmlName()}}">
              {{dataset.name}}
            </a>
          </td>
          <td>{{dataset.numberOfRows}}</td>
          <td>{{dataset.numberOfColumns}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
