{% extends "base.html" %}
{% block title %}{{docTitle}}{% endblock %}
{% block subheader %}{{docTitle}}{% endblock %}
{% block content %}
  <div class="description">{{docDescription}}</div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th>Dataset</th>
          <th>Rows</th>
          <th>Columns</th>
        </tr>
        {% for dataset in datasets %}
        <tr>
          <td>
            <a href="{{dataset.getHtmlName()}}">
              {% if dataset.title %}
              {{dataset.title}}
              {% else %}
              {{dataset.name}}
              {% endif %}
            </a>
          </td>
          <td>{{dataset.numberOfRows}}</td>
          <td>{{dataset.numberOfColumns}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
