{% extends "base.html" %}
{% block title %}{{docTitle}}{% endblock %}
{% block content %}
  <h1>{{docTitle}}</h1>
  {{docDescription}}
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Datasets</th>
        {% for dataFolder in dataFolders %}
          <tr>
            <td>
              <a href="{{dataFolder.name}}/index.html">
                {% if dataFolder.title %}
                {{dataFolder.title}}
                {% else %}
                {{dataFolder.name}}
                {% endif %}
              </a>
            </td>
            <td>
              {{dataFolder.description}}
            </td>
            <td>
              {{ dataFolder.getNumberOfDatasets() }}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
